@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;    
}
:root{
    --body-bg:hsl(233, 47%, 7%);
    --container-bg:hsl(244, 38%, 16%);
    --lilas:hsl(277, 64%, 61%);
    --cinza:hsla(0, 0%, 100%, 0.75);
    --descolorado:hsla(0, 0%, 100%, 0.6);
}
body{
    background-color:var(--body-bg);
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100vh;
    font-size: 15px;
    font-family: "Inter" sans-serif;
}
.container{
    background-color:var(--container-bg);
    display: flex;
    border-radius: 10px
}
.card{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    max-width:390px;
    margin: 40px 35px 40px 35px;
}
.text-card{
    margin: 0px 0px 0px 30px;

}
.text-card h1{
    font-size: 34px;
    font-weight: 700;
}
.text-card p{
    font-size: 17px;
    color: var(--descolorado);
}
.text-emphasis{
    color:var(--lilas);
}
.container-data{
    display: flex;
    justify-content:space-around;
    margin: 50px 0px 37px 0px;
}
.data{
    font-size: 20px;
}
.data-complement{
    font-size: 19px;
    color: var(--cinza);
}
.card-img{
    background-image: url(images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    width: 390px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}
.card-img::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #a821ff;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    filter: brightness(0.5);
}
@media (max-width: 700px) {
    .container{
        flex-direction: column-reverse;
    }
    .card{
        margin: 0;
        max-width: 300px;
    }
    .text-card{
        margin:0;
        text-align:center;
    }
    .text-card p{
        padding: 5px 25px 0px 25px
    }

    .container-data{
        text-align: center;
        flex-direction: column;
        margin: 0px;
    }
    .data{
        margin-bottom: 10px;

    }
    .card-img{
        background-image: url(images/image-header-mobile.jpg);
        width: 100%;
        height: 181px;
    }
 
}